<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.polant.projectsport">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme">

        <provider
            android:authorities="com.polant.projectsport.data"
            android:name=".data.MyContentProvider" />
        
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.ActivityCalculateFood"/>
        <activity
            android:name=".preferences.PreferencesNewActivity"
            android:label="@string/preferences_title" >
        </activity>
        <activity
            android:name=".preferences.PreferencesOldActivity"
            android:label="@string/preferences_title" >
        </activity>

    </application>

</manifest>
